<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="iiwa_r2c_hardware" params="name prefix command_interface robot_ip robot_port initial_positions_file use_sim:=^|false use_fake_hardware:=^|true">
        <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">

            <xacro:if value="$(arg use_sim)">
                <hardware>
                    <plugin>ign_ros2_control/IgnitionSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:unless value="$(arg use_sim)">
                <hardware>
                <xacro:if value="${use_fake_hardware}">
                    <plugin>mock_components/GenericSystem</plugin>
                    <param name="calculate_dynamics">true</param>
                </xacro:if>
                <xacro:unless value="${use_fake_hardware}">
                    <plugin>iiwa_hardware/IiwaFRIHardwareInterface</plugin>
                    <param name="robot_ip">${robot_ip}</param>
                    <param name="robot_port">${robot_port}</param>
                    <param name="velocity_filter_cutoff_freq">40</param>
                    <param name="torque_filter_cutoff_freq">40</param>
                </xacro:unless>
                </hardware>
            </xacro:unless>

            <joint name="${prefix}joint_a1">
                <command_interface name="${command_interface}" />
                    <xacro:if value="${command_interface == 'position'}">
                        <param name="min">-2.96</param>
                        <param name="max">2.96</param>
                    </xacro:if>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['joint_a1']}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="${prefix}joint_a2">
                <command_interface name="${command_interface}" />
                    <xacro:if value="${command_interface == 'position'}">
                        <param name="min">-2.09</param>
                        <param name="max">2.09</param>
                    </xacro:if>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['joint_a2']}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="${prefix}joint_a3">
                <command_interface name="${command_interface}" />
                    <xacro:if value="${command_interface == 'position'}">
                        <param name="min">-2.96</param>
                        <param name="max">2.96</param>
                    </xacro:if>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['joint_a3']}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="${prefix}joint_a4">
                <command_interface name="${command_interface}" />
                    <xacro:if value="${command_interface == 'position'}">
                        <param name="min">-2.09</param>
                        <param name="max">2.09</param>
                    </xacro:if>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['joint_a4']}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="${prefix}joint_a5">
                <command_interface name="${command_interface}" />
                    <xacro:if value="${command_interface == 'position'}">
                        <param name="min">-2.96</param>
                        <param name="max">2.96</param>
                    </xacro:if>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['joint_a5']}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="${prefix}joint_a6">
                <command_interface name="${command_interface}" />
                    <xacro:if value="${command_interface == 'position'}">
                        <param name="min">-2.09</param>
                        <param name="max">2.09</param>
                    </xacro:if>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['joint_a6']}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <joint name="${prefix}joint_a7">
                <command_interface name="${command_interface}" />
                    <xacro:if value="${command_interface == 'position'}">
                        <param name="min">-3.05</param>
                        <param name="max">3.05</param>
                    </xacro:if>
                <state_interface name="position">
                    <param name="initial_value">${initial_positions['joint_a7']}</param>
                </state_interface>
                <state_interface name="velocity">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="effort">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </joint>
            <sensor name="${prefix}external_torque_sensor">
                <state_interface name="external_torque.joint_a1">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="external_torque.joint_a2">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="external_torque.joint_a3">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="external_torque.joint_a4">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="external_torque.joint_a5">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="external_torque.joint_a6">
                    <param name="initial_value">0.0</param>
                </state_interface>
                <state_interface name="external_torque.joint_a7">
                    <param name="initial_value">0.0</param>
                </state_interface>
            </sensor>
        </ros2_control>

    </xacro:macro>

</robot>
